<div class="container">
  <div class="row">
    <div class="col-3">
      <a href="https://www.facebook.com/Dhaanipk/" target="_blank"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
    </div>
    <div class="col-6 text-center">
      Dhaani®
    </div>
    <div class="col-3 text-right">
      Call Now <a href="tel:+923235425467">(+923235425467)</a>
    </div>
  </div>
</div>